html {
	height: 100%;		/* FIX THE IMAGE */
}

body {
	background: url(https://images.unsplash.com/photo-1516321165247-4aa89a48be28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=899e2558d4cef07927641f0ecef4aa6c&auto=format&fit=crop&w=1394&q=80);
	background-size: cover;
}

#html {
	text-align: center;
	font-size: 60px;
	color: white;
	font-family: 'Montserrat';
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 12px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.list-group-item {
	margin-left: 30%;
	margin-right: 30%;
	font-family: 'Montserrat';
}

.child {
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Montserrat';
}